/*Home Styling */
@font-face {
    font-family: 'valorax';
    src: url('../../fonts/valorax.regular.otf') format('truetype');
  }
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Combo&family=Open+Sans&family=Pacifico&family=Poppins:wght@200;300;400&family=Prosto+One&display=swap');
body{
    overflow-x: hidden;
}

.main{
    overflow: hidden;
}

.tag-container{
    font-family: 'valorax';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    margin-top: -80%;
    text-align: center;
    background: linear-gradient(90deg, #BF4AE9 3.88%,#07FCEF 96.12%), 
    linear-gradient(0deg, #591BBA, #591BBA), 
    linear-gradient(0deg, #0A5551, #0A5551), #0F2597;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.text-container {
    color: #fff;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    margin-top: 45%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
   
  }
  @media screen and (max-width:2560px) {
    .tag-container{
        font-size: 6rem;
         
    }
    .text-container{
        font-size: 1.4rem;
         
    }
  }
  @media screen and (max-width:1440px) {
    .tag-container{
        font-size: 5rem;
        
    }
    .text-container{
        font-size: 1.2rem;
        
    }

  }
  @media screen and (max-width:1024px) {
    .tag-container{
        font-size: 3.8rem;
       
    }
    .text-container{
        font-size: 1rem;
        
    }

  }
  @media screen and (max-width:896px) {
    .tag-container{
        font-size: 3rem;
        
    }
    .text-container{
        font-size: 0.8rem;
       
    }

  }
  @media screen and (max-width:768px) {
    .tag-container{
        font-size: 3rem;
          
    }
    .text-container{
        font-size: 0.8rem;
       
    }

  }
  @media screen and (max-width:596px) {
    .tag-container{
        font-size: 2rem;
        
    }
    .text-container{
        font-size: 0.6rem;
         
    }

  }
  @media screen and (max-width:520px) {
    .tag-container{
        font-size: 1.5rem;
        
    }
    .text-container{
        font-size: 0.5rem;
              
    }
  }
  @media screen and (max-width:425px) {
    .tag-container{
        font-size: 1rem;
       
    }
    .text-container{
        font-size: 0.4rem;
          
    }
  }
  @media screen and (max-width:375px) {
    .tag-container{
        font-size: 0.5rem;
          
    }
    .text-container{
        font-size: 0.4rem;  
        
    }
  }
  @media screen and (max-width:320px) {
    .tag-container{
        font-size: 0.5rem;
        
    }
    .text-container{
        font-size: 0.4rem;  
        
    }
  }